html {
	font-family: "Times New Roman", Times, serif;
	line-height: 1.6;
}

body {
	line-height: 1.6;
	margin: 5%;
}

h2 {
	padding-bottom: 2px;
	border-bottom: 1px solid #e1e4ea;
}

p, ol, td, th {
	font-size: 1.1em;
}

ul {
	font-size: 1.1em;
	list-style-type: circle;
}

a {
	color: #ff2d55;
	text-decoration: none;
}

blockquote {
	margin-top: 1%;
	padding-left: 2%;
	color: #a5aec0;
	border-left: 1px solid #ff2d55;
	font-style: italic;
}

img {
	display: block;
	border-style: none;
	border-radius: 1px;
	max-width: 100%;
}

code {
	font-family: monospace;
	background-color: #ffccd5;
	border-radius: 3px;
	overflow: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 1.1em;
	padding-left: 0.5%;
	padding-right: 0.5%;
}

pre {
	font-family: monospace;
	background-color: #ffccd5;
	border-radius: 3px;
	overflow: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	display: block;
        font-size: 1.1em;
	padding-left: 0.5%;
	padding-right: 0.5%;
}
